.logo {
  float: left;
  width: 120px;
  padding-top: 17px;
  height: 31px;
  color: white;
  font-size: 20px;
  line-height: 31px;
  margin-right: 24px;
  align-items: center;
}
ul[nz-menu] {
  line-height: 64px;
}
