<ng-container *ngIf="visible">
  <div class="custom-modal-overlay">
    <div class="custom-modal-card" style="width:1100px">
      <div class="custom-modal-header">
        <span class="custom-modal-title">Image gallery</span>
        <button class="custom-modal-close" (click)="close.emit()" aria-label="Close" type="button">
          <span nz-icon nzType="close"></span>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="gallery-list">
          <div *ngFor="let img of gallery" class="gallery-card" [class.selected]="img === selectedGalleryImage">
            <img [src]="img.url" alt="img" class="gallery-card-img"/>
            <div class="gallery-card-info">
              <div class="gallery-card-title">{{ img.name }}</div>
              <div class="gallery-card-meta">{{ img.size }} | {{ img.dimensions }}</div>
            </div>
            <button nz-button nzType="primary" class="gallery-select-btn" (click)="selectGalleryImage(img)">Select</button>
          </div>
        </div>
      </div>
      <div class="custom-modal-footer">
        <button nz-button nzType="default" type="button" (click)="close.emit()">Close</button>
      </div>
    </div>
  </div>
</ng-container>
